    <script src="{load_app_static()}assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="{load_app_static()}assets/node_modules/popper/dist/popper.min.js"></script>
    <script src="{load_app_static()}assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- This is for the animation -->
    <script src="{load_app_static()}assets/node_modules/aos/dist/aos.js"></script>
    <!--Custom JavaScript -->
    <script src="{load_app_static()}js/custom.min.js"></script> 
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <script src="{load_app_static()}assets/node_modules/jquery.touchSwipe.min.js"></script>
    <script src="{load_app_static()}assets/node_modules/bootstrap-touch-slider/bootstrap-touch-slider.js"></script>
    <script src="{load_app_static()}assets/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
</body>

</html>