<!DOCTYPE html>
<html lang="{$lang}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="{$viewport}">
    <meta name="description" content="{$description}">
    <meta name="author" content="{$author}">
    <!--图标 -->
    <link rel="icon" type="image/png" sizes="16x16" href="{load_app_static()}images/favicon.png">
    <title>{$title}</title>
    <!-- Bootstrap 核心  CSS -->
    <link href="{load_app_static()}assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- 引入动画控制 CSS -->
    <link href="{load_app_static()}assets/node_modules/aos/dist/aos.css" rel="stylesheet">
    <!-- 引入页面滑块 css -->
    <link href="{load_app_static()}assets/node_modules/bootstrap-touch-slider/bootstrap-touch-slider.css" rel="stylesheet" media="all">
    <link href="{load_app_static()}assets/node_modules/owl.carousel/dist/assets/owl.theme.green.css" rel="stylesheet">
    <!-- 把需要的预定义CSS复制到这个demo中 -->
    <link href="{load_app_static()}css/demo.css" rel="stylesheet">
    <!-- 通用的 CSS -->
    <link href="{load_app_static()}css/style.css" rel="stylesheet">
    <link href="{load_app_static()}css/wenxiaocms.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{load_app_static()}js/html5shiv.js"></script>
    <script src="{load_app_static()}js/respond.min.js"></script>
<![endif]-->
</head>
<body class="{$body_css}">
